<div *ngIf="carrera">
  <h2>{{carrera.nombre | uppercase}} Details</h2>
  <div>
    <label for="carrera-id">Id: </label>
    <input id="carrera-id" [(ngModel)]="carrera.id" placeholder="id" />
  </div>

  <div>
    <label for="carrera-nombre">Nombre: </label>
    <input id="carrera-nombre" [(ngModel)]="carrera.nombre" placeholder="nombre"/>
  </div>

  <div>
    <label for="carrera-rama">Rama: </label>
    <input id="carrera-rama" [(ngModel)]="carrera.rama" placeholder="rama" />
  </div>

  <div>
    <label for="carrera-duracion">Duración: </label>
    <input id="carrera-duracion" [(ngModel)]="carrera.duracion" placeholder="duracion" />
  </div>
  <div>
    <label for="carrera-precio">Precio: </label>
    <input id="carrera-precio" [(ngModel)]="carrera.precio" placeholder="precio" />
  </div>
  <button type="button" (click)="goBack()">Volver</button>
  <button type="button" (click)="save()">Guardar</button>
</div>
